<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        console.log("here")
        const params = new URLSearchParams(window.location.search)
        const action =params.get('action')
        const id=params.get('id')
        if(action ==="valide"){
            axios.post('/api/valideDmd',{id}).then((res)=>{
                if(res.data.status ==='ok'){
                    location.href ="./liste_demande.html"
                }})
        }else{
            axios.post('/api/refuseDmd',{id}).then((res)=>{
                if(res.data.status ==='ok'){
                    location.href ="./liste_demande.html"
                }
              })
        }
    </script>
</body>
</html>