<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Responsive Admin Dashboard Template">
  <meta name="keywords" content="admin,dashboard">
  <meta name="author" content="stacks">
  <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>Liste Des demandes</title>

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
  <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
  <link href="../../assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">


  <!-- Theme Styles -->
  <link href="../../assets/css/main.min.css" rel="stylesheet">
  <link href="../../assets/css/dark-theme.css" rel="stylesheet">
  <link href="../../assets/css/custom.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
  <div class='loader'>
    <div class='spinner-grow text-primary' role='status'>
      <span class='sr-only'>Loading...</span>
    </div>
  </div>

  <div class="page-container">
    <div class="page-header">
      <nav class="navbar navbar-expand-lg d-flex justify-content-between">
        <div class="" id="navbarNav">
          <ul class="navbar-nav" id="leftNav">
            <li class="nav-item">
              <a class="nav-link" id="sidebar-toggle" href="#"><i data-feather="arrow-left"></i></a>
            </li>

          </ul>
        </div>
        <div class="logo">
          <a class="navbar-brand" href="index.html"></a>
        </div>
        <div class="" id="headerNav">
          <ul class="navbar-nav" id="Mynav">
            <li class="nav-item dropdown">
              <a class="nav-link search-dropdown" href="#" id="searchDropDown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><i data-feather="search"></i></a>
              <div class="dropdown-menu dropdown-menu-end dropdown-lg search-drop-menu"
                aria-labelledby="searchDropDown">
                <form>
                  <input class="form-control" type="text" placeholder="Type something.." aria-label="Search">
                </form>
                <h6 class="dropdown-header">Recent Searches</h6>
                <a class="dropdown-item" href="#">charts</a>
                <a class="dropdown-item" href="#">new orders</a>
                <a class="dropdown-item" href="#">file manager</a>
                <a class="dropdown-item" href="#">new users</a>
              </div>
            </li>

            <li class="nav-item dropdown" id="befor">
              <a class="nav-link profile-dropdown" href="#" id="profileDropDown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><img src="../../assets/images/avatars/profile-image.png" alt=""></a>
              <div class="dropdown-menu dropdown-menu-end profile-drop-menu" aria-labelledby="profileDropDown">

                <a class="dropdown-item" href="login.html"><i data-feather="log-out"></i>Déconnecter</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="page-sidebar">
      <ul class="list-unstyled accordion-menu">
        <li class="sidebar-title">
          Main
        </li>
        <li class="active-page">
          <a href="liste_demande.html"><i data-feather="edit"></i>Demandes</a>
        </li>
        <li>
        <li>
          <a href="adduser.html"><i data-feather="plus-circle"></i>Add user</a>
        </li>
        <li>
          <a href="liste_worker.html"><i data-feather="user"></i>Employés</a>
        </li>
      </ul>
    </div>
    <div class="page-content">
      <div class="main-wrapper">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <h2>Liste Des Demandes</h2>
                  </div>
                </div>

                <div class="row">
                  <div class="table-responsive">
                    <table class="table invoice-table">
                      <thead>
                        <tr>
                          <th scope="col">Cin</th>
                          <th scope="col">Date de prise</th>
                          <th scope="col">Nombre de jours</th>
                          <th scope="col">Date de depart</th>
                          <th scope="col">Etat</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>


                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>








      </div>

    </div>

    <!-- Validation Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Validée La Demande</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          êtes-vous sûr de vouloir valider cette Demande
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermée</button>
            <a  id="validationlink">  <button type="button" class="btn btn-success" id="valide" data="${Element._id}">Validée</button> </a> 
          </div>
        </div>
      </div>
    </div>


    <!-- denying modal -->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Refusée La Demade</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          êtes-vous sûr de vouloir refuser cette Demande
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermée</button>
            <a  id="denyingLink">  <button type="button" class="btn btn-danger" style="background-color: #fc7878;">Refusée</button> </a>

            </div>
        </div>
      </div>
    </div>

    <!-- Javascripts -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../../assets/js/notification.js"></script>
    <script>
      function display(res) {
        const usertype = res.data.usertype
        console.log(usertype);

        const tbody = document.querySelector('table');
        tbody.innerHTML = `
            <thead>
                                              <tr>
                                                <th scope="col">Cin</th>
                                                <th scope="col">Date de prise</th>
                                                <th scope="col">Nombre de jours</th>
                                                <th scope="col">Date de depart</th>
                                                <th scope="col">Etat</th>
                                                <th scope="col">Action</th>
                                              </tr>
            </thead>



            `
        const e = document.createElement('tbody')
        demandes = res.data.demande
        let table = ``
        let i = 0
        const disp = demandes.forEach((Element) => {
          
          table += `
              <tr><th scope="row">${Element.cin} </th>
                                                  <td>${Element.prise.substring(0, 24)}</td>
                                                  <td>${Element.nb_jour}</td>
                                                  <td>${Element.date_depart}</td>`
          if (Element.etat === "En attente") {
            if (usertype === "admin") {
              table += `
              <td><span class="badge bg-warning">${Element.etat}</span></td>
              
              <td>
                                                  <button type="button" class="btn btn-success" onClick="showValidationModal('${Element._id}')" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" >
                                                    Validée
                                                  </button>
                                                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter2" style="background-color: #fc7878;" onclick="showDenyingModal('${Element._id}')">
                                                    Refusée
                                                  </button>
              </td>
            </tr> 
              `}
              else{
                table+=`<td><span class="badge bg-warning">${Element.etat}</span></td>
              
              <td>--
                </td>
                </tr>`
              }
            }
          else if(Element.etat === "valide"){
                if(usertype==="admin"){
                table +=`<td><span class="badge bg-success">Validée</span></td>
                                                  <td>
                                                  
                                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter2" style="background-color: #fc7878;" onclick="showDenyingModal('${Element._id}')">
                                                    Refusée
                                                  </button>

                                                

                                                <a href="../Doc/text.txt" download="my_file.txt">
                                                <button type="button" class="btn btn-primary">
                                                  Extraire
                                                </button>
                                                </a>
                                                

                                                  </td>
                                                  
                                                </tr>`}
                                                else{
                                                  table+=`
                                                  <td><span class="badge bg-success">Validée</span></td>
                                                  <td>
                                                    <a href="../Doc/text.txt" download="my_file.txt">
                                                    <button type="button" class="btn btn-primary">
                                                      Extraire
                                                    </button>
                                                    </a>
                                                  </td>
                                                  </tr>

                                                  `
                                                }
              }
              else if (Element.etat === 'refus'){
                if(usertype==="admin"){
                
                table +=`<td><span class="badge bg-danger" style="background-color: #fc7878;">Refusée</span></td>
                <td>
                                                  <button type="button" class="btn btn-success" onClick="showValidationModal('${Element._id}')" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" >
                                                    Validée
                                                  </button>
                                                  </td>
                                                    
                                                  </tr>`
                                                }
                                                else{
                                                  table+=`
                                                  <td><span class="badge bg-danger" style="background-color: #fc7878;">Refusée</span></td>
                                                  <td>
                                                    --
                                                    </td>
                                                    </tr>
                                                  `
                                                }
          }

        })
      
        e.innerHTML = table
        tbody.appendChild(e);

      }


      axios.post('./api/getdemande', { token: localStorage.getItem('token') }).then((res) => display(res))
      axios.post('./api/getdemande', { token: localStorage.getItem('token') }).then((res) => Notification(res))


      // Create WebSocket connection.
      const socket = new WebSocket('ws://localhost:3000');

      // Connection opened
      socket.addEventListener('open', function (event) {
        console.log('Connected to WS Server')
      });
      // Listen for messages
      socket.addEventListener('message', function (event) {
        event.data.text().then(txt => getNotification(txt))

        axios.get('./api/getdemande').then((res) => display(res))
        console.log("new demande")

      });
      function showValidationModal(id){
        
        console.log("this is event : ",id);
        const validationLink=document.querySelector("#validationlink")
        validationLink.setAttribute("href",`./getdemande.html?action=valide&id=${id}`)
        console.log(validationLink)
      }
      function showDenyingModal(id){
        console.log("id is :",id)
        const denyingLink=document.querySelector("#denyingLink")
        denyingLink.setAttribute("href",`/getdemande.html?action=refus&id=${id}`)
        console.log(denyingLink)
      }

      



    </script>

    <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="../../assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
    <script src="../../assets/js/main.min.js"></script>
</body>

</html>